.d-inline-block{
    display: inline-block !important;
}
.d-block{
    display: block !important;
}
.d-flex{
    display: flex !important;
}
.d-inline{
    display: inline !important;
}

/* Mobile */
@media only screen and (max-width: 767px) {
    [class*="mobile hidden"],
    [class*="tablet only"]:not(.mobile),
    [class*="computer only"]:not(.mobile),
    [class*="large screen only"]:not(.mobile),
    [class*="widescreen only"]:not(.mobile),
    [class*="or lower hidden"] {
      display: none !important;
    }
    .display-mobile-none {
      display: none !important;
    }
    .display-mobile-inline {
      display: inline !important;
    }
    .display-mobile-inline-block {
      display: inline-block !important;
    }
    .display-mobile-block {
      display: block !important;
    }
    .display-mobile-flex {
      display: -ms-flexbox !important;
      display: flex !important;
    }
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    [class*="mobile only"]:not(.tablet),
    [class*="tablet hidden"],
    [class*="computer only"]:not(.tablet),
    [class*="large screen only"]:not(.tablet),
    [class*="widescreen only"]:not(.tablet),
    [class*="or lower hidden"]:not(.mobile) {
      display: none !important;
    }
    .display-tablet-none {
      display: none !important;
    }
    .display-tablet-inline {
      display: inline !important;
    }
    .display-tablet-inline-block {
      display: inline-block !important;
    }
    .display-tablet-block {
      display: block !important;
    }
    .display-tablet-flex {
      display: -ms-flexbox !important;
      display: flex !important;
    }    
    
  }
 
/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 1200px) {
    [class*="mobile only"]:not(.computer),
    [class*="tablet only"]:not(.computer),
    [class*="computer hidden"],
    [class*="large screen only"]:not(.computer),
    [class*="widescreen only"]:not(.computer),
    [class*="or lower hidden"]:not(.tablet):not(.mobile) {
      display: none !important;
    }
    .display-computer-none {
      display: none !important;
    }
    .display-computer-inline {
      display: inline !important;
    }
    .display-computer-inline-block {
      display: inline-block !important;
    }
    .display-computer-block {
      display: block !important;
    }
    .display-computer-flex {
      display: -ms-flexbox !important;
      display: flex !important;
    }
}

